/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
a[href^="http:"]:visited,a[href^="http:"], a[href^="mailto:"], a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
  background-image:none;
  padding: 0;
  margin: 0;
}

hr {
  color: #003f5e;
  background-color: #003f5e;
  height: 1px;
  border: 0;
  margin-bottom: 5px;
}

/**************************************/
/*              HEADER                */
/**************************************/

#justgiving {
  text-align: right;
  margin-top: 60px;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/

div.blob {
  background: url('/images/blob-bg.png');
  background-repeat: no-repeat;
  margin-top: 25px;
  color: #ffffff;
  height: 245px;
  padding-bottom: 40px;
}

div.blob h2 {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

div.blob p {
  padding: 15px;
}

<<<<<<< HEAD:web/css/style.css
#description {
  border: 0;
  font-size: 12px;
}

#description tr th, #description tr td  {
  border: 0;
  padding: 2px;
}

#description tr td.first{
  font-weight: bold;
  padding-right: 2px;
}


=======
div.tweets {
  float: right
}
>>>>>>> e4e30c9... Revert "Merge commit 'github/steve'":web/css/style.css

/**************************************/
/*               FOOTER               */
/**************************************/

