/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
a[href^="http:"]:visited,a[href^="http:"], a[href^="mailto:"], a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
  background-image:none;
  padding: 0;
  margin: 0;
}

hr {
  color: #003f5e;
  background-color: #003f5e;
  height: 1px;
  border: 0;
  margin-bottom: 5px;
}

/**************************************/
/*              HEADER                */
/**************************************/

#justgiving {
  text-align: right;
  margin-top: 20px;
}

#fblike {
  height: 35px;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

.blob {
  background: url('/images/blob-bg.png');
  background-repeat: no-repeat;
  margin-top: 25px;
  color: #ffffff;
  height: 245px;
  padding-bottom: 40px;
}

.blob h2 {
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.blob p {
  padding: 15px;
}

#description {
  border: 0;
  font-size: 12px;
}

#description tr th, #description tr td  {
  border: 0;
  padding: 2px;
}

#description tr td.first{
  font-weight: bold;
  padding-right: 2px;
}

.map, #canvas {
  height: 600px;
}

.map .overlay {
  position: relative;
  top: -570px;
  float: right;
  margin-right: 7px;
}

.map .overlay .content {
  background: #FFF;
  border: 1px solid #000;
  margin-top: 10px;
  padding: 4px 4px 5px;
}

.map .overlay .date .selector {
  width: 40px;
}

.map .overlay .date .from.selector {
  float: left;
}

.map .overlay .date .to.selector {
  float: right;
}

.map .overlay .date span {
  width: 38px;
  float: left;
  text-align: center;
}

.tweets {
  float: right
}

.tweets h3 {
  margin-top: 0.57em;
  font-size: 12pt;
  color: #00516B;
}

.tweets ul#twitter {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 75px;
}

.tweets ul#twitter li {
  list-style: none;
  border: #CCCCCC 1px solid;
  margin: 0;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
}

.tweets ul#twitter li span.time {
  font-style: italic;
  float: right;
}

/**************************************/
/*               FOOTER               */
/**************************************/

.footer {
  text-align: center;
  color: #CCCCCC;
}

.footer a {
  color: #CCCCCC;
}

/**************************************/
/*               FACEBOOK             */
/**************************************/

.wallkit_form {
  padding: 0;
}