/*
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//     
//     Name: config.php
//     Description: Contains map display configuration information
//     Author: Jim Cleek (derived from work by Mike Hedman)
//     Updates and Information: http://forums.instamapper.com/viewtopic.php?pid=5090
//     
//     Version: 1.10
//     Date: 10/15/2009
//     
//     Changelog:
//     
//     1.10- Incorporated cleaned up CSS by TechRemedy
//           Added LAT LONG information to points bubble
//     1.9 - Added option to specify whether inline values are allowed
//           Added option to specify how many points to show
//           Added option for automatic screen refresh
//     1.8 - Added distance between points using haversine formulae
//           Added version checking
//     1.7 - Added inline date option for linking to specific map
//     1.6 - Fixed display of overlay configuration box
//     1.5 - Replaced customization TD with javascript overlay
//     1.4 - Added MySQL database configuration to put data from API feed in database
//           Removed all javascript calculations and replaced with php
//           Fixed end date filtering
//     1.3 - Added map customizations section
//
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
*/

Body {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
background-color: #ffffff;
color: #000000; 
font-size: 11pt; 
font-weight: normal;
}



H1 {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
color: #000000; 
font-size: 18pt; 
font-weight: normal; 
text-align: center;
}



H2 {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
color: #000000; 
font-size: 16pt; 
font-weight: normal; 
text-align: center;
}



H3 {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
color: #000000; 
font-size: 14pt; 
font-weight: normal; 
text-align: center;
}



H4 {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
color: #000000; 
font-size: 12pt; 
font-weight: normal; 
text-align: center;
}



H5 {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
color: #000000; 
font-size: 10pt; 
font-weight: normal; 
text-align: center;
}



H6 {
font-family: Arial, Verdana, Helvetica, Sans-Serif; 
color: #000000; 
font-size: 8pt; 
font-weight: normal; 
text-align: center;
}



A:link {
color: #800000; 
font-weight: normal; 
text-decoration: none; 
background: none;
}



A:visited {
color: #800000; 
font-weight: normal; 
text-decoration: none; 
background: none;
}



A:hover {
color: #800000; 
font-weight: normal; 
text-decoration: none; 
background: none;
}



A:active {
color: #800000; 
font-weight: normal; 
text-decoration: none; 
background: none;
}



table {
background-color: #00BDBD; 
border: 0px; 
vertical-align: top;
}



td {
vertical-align: top;
}



table#main {
background-color: #ffffff;
border: solid #000 1px;
vertical-align: top; margin-left: auto; 
margin-right: auto;
}



table#description {
background-color: #ffffff; 
border: 0px; 
vertical-align: top;
}



input     {
color: #ffffff; 
background: #008080; 
border: 1px solid #008080;
}


input.btn {
color: #008080; 
background: #ffffff; 
border: 1px solid #008080;
}

 

select {
color: #ffffff; 
background: #008080; 
border: 1px solid #008080;
}



P {
text-align: center;
}




#filter {

display: none;

position: absolute;

top: 0%;

left: 0%;

width: 100%;

height: 100%;

background-color: #CCA;

z-index:10;

opacity:0.5;

filter: alpha(opacity=50);

}





#box {

display: none;

position: absolute;

top: 25%;

left: 25%;

width: 50%;

height: 290px;

padding: 0px;

padding-top:50px;

margin: 0 auto;

border: 1px solid black;

background-color: #00BDBD;

z-index:101;

overflow: none;

}



#boxtitle {

position:absolute;

float:center;

top:0;

left:0;

width:100%;

height:24px;

padding:0;

padding-top:5px;

left-padding:0px;

margin:0;

background-color: #008080;

color: #FFFFFF;

text-align:center;

}