Position:
  actAs:
    Timestampable: ~
    SoftDelete: ~
  connection: doctrine
  tableName: position
  columns:
    id:
      type: integer(4)
      fixed: false
      unsigned: false
      primary: true
      autoincrement: true
    device_key:
      type: string(30)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    device_label:
      type: string(50)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    timestamp:
      type: integer(4)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    latitude:
      type: float()
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    longitude:
      type: float()
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    altitude:
      type: float()
      fixed: false
      unsigned: false
      primary: false
      default: '0'
      notnull: false
      autoincrement: false
    speed:
      type: float()
      fixed: false
      unsigned: false
      primary: false
      default: '0'
      notnull: false
      autoincrement: false
    heading:
      type: float()
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    added:
      type: integer(4)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false

Day:
  actAs:
    Timestampable: ~
    SoftDelete: ~
  columns:
    date: { type: date, primary: true }
    title: { type: string(100), notnull: true }
    start_latt: { type: float() }
    start_long: { type: float() }
    end_latt:  { type: float() }
    end_long:  { type: float() }
    notes: { type: clob }
